.button {
  display: inline-block;
  background: linear-gradient(90deg, #ee5c87, #f1a4b5, #d587b3);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;

  &:hover {
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  }
}
