/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}
.logo-wrapper {
  width: 200px;
}
@media screen and (min-width: 300px) {
  .logo-wrapper {
    width: 120px;
  }
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
  margin: 0 auto;

  &__menu {
    @media screen and (max-width: 768px) {
      position: fixed;
      top: var(--header-height);
      right: -100%;
      width: 80%;
      height: 100%;
      padding: 2rem;
      background-color: var(--second-color);
      transition: 0.5s;
    }
  }
  &__item {
    margin-bottom: var(--mb-4);
  }
  &__link {
    position: relative;
    color: #fff;

    &:hover {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 0.18rem;
        left: 0;
        top: 2rem;
        background-color: var(--first-color);
      }
    }
  }
  &__logo {
    color: var(--second-color);
  }
  &__toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
  }
}
/*Active menu*/
.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background: linear-gradient(90deg, #ee5c87, #f1a4b5, #d587b3);
}

/*=== Show menu ===*/
.show {
  right: 0;
}
.nav__list {
  & a:hover {
    color: var(--first-color);
  }

  & a:active {
    color: rgb(248, 75, 211);
  }
}

@media screen and(min-width: 768px) {
  .nav {
    height: calc(var(--header-height) + 1rem);
    &__list {
      display: flex;
      padding-top: 0;
    }
    &__item {
      margin-left: var(--mb-6);
      margin-bottom: 0;
    }
    &__toggle {
      display: none;
    }
    &__link {
      color: var(--second-color);
    }
  }
}
