/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;

  & .home__data {
    align-self: center;
  }
  & .home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
  }
  & .home__social {
    display: flex;
    flex-direction: column;
    &-icon {
      width: max-content;
      margin-bottom: var(--mb-2);
      font-size: 1.5rem;
      color: var(--second-color);

      &:hover {
        color: var(--first-color);
      }
    }
  }

  & .home__img {
    position: absolute;
    right: 20px;
    bottom: -41px;
    width: 149px;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    overflow: hidden;
  }
}

/* ===== MEDIA QUERIES=====*/
@media screen and(min-width: 768px) {
  .home {
    height: 100vh;
    &__data {
      align-self: flex-end;
    }
    &__social {
      padding-top: 0;
      padding-bottom: 2.5rem;
      flex-direction: row;
      align-self: flex-end;

      &-icon {
        margin-bottom: 0;
        margin-right: var(--mb-4);
      }
    }
    &__img {
      width: 457px;
      bottom: 15%;
    }
  }
}
@media screen and(min-width: 1024px) {
  .home {
    &__img {
      right: 10%;
    }
  }
}
