@media screen and (min-width: 300px) {
}
.work {
  &__container {
    row-gap: 2rem;
  }
  & .work__list {
    display: flex;
    width: 1100px;
    list-style-type: disc;
    & li {
      margin-left: 100px;
      & a {
        color: black;
        font-size: 30px;
      }
    }
    & a:hover {
      color: var(--first-color);
    }

    & a:active {
      color: rgb(248, 75, 211);
    }
    & img {
      margin-top: 15px;
    }
  }
  &__img {
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: 0.5rem;
    overflow: hidden;

    & img {
      transition: 1s;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
@media screen and(min-width: 768px) {
  .work {
    &__container {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 2rem;
    }
  }
}
