html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block; // borra los espacios en blanco
}
